{
  "presets": [
    ["env", {"modules": false}],
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    // 识别ant的css
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ]
}